<?xml version="1.0" encoding="UTF-8"?>
<web-app version="4.0" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_4_0.xsd">
    <servlet>
        <servlet-name>sr_logins</servlet-name>
        <servlet-class>controlador.sr_logins</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>sr_puesto</servlet-name>
        <servlet-class>controlador.sr_puesto</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>sr_empleado</servlet-name>
        <servlet-class>controlador.sr_empleado</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>sr_productos</servlet-name>
        <servlet-class>controlador.sr_productos</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>sr_marcas</servlet-name>
        <servlet-class>controlador.sr_marcas</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>sr_proveedorees</servlet-name>
        <servlet-class>controlador.sr_proveedorees</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>sr_usuarios</servlet-name>
        <servlet-class>controlador.sr_usuarios</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>sr_registro</servlet-name>
        <servlet-class>controlador.sr_registro</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>sr_compras</servlet-name>
        <servlet-class>controlador.sr_compras</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>sr_cliente</servlet-name>
        <servlet-class>controlador.sr_cliente</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>sr_ventas</servlet-name>
        <servlet-class>controlador.sr_ventas</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>sr_logins</servlet-name>
        <url-pattern>/sr_logins</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>sr_puesto</servlet-name>
        <url-pattern>/sr_puesto</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>sr_empleado</servlet-name>
        <url-pattern>/sr_empleado</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>sr_productos</servlet-name>
        <url-pattern>/sr_productos</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>sr_marcas</servlet-name>
        <url-pattern>/sr_marcas</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>sr_proveedorees</servlet-name>
        <url-pattern>/sr_proveedorees</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>sr_usuarios</servlet-name>
        <url-pattern>/sr_usuarios</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>sr_registro</servlet-name>
        <url-pattern>/sr_registro</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>sr_compras</servlet-name>
        <url-pattern>/sr_compras</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>sr_cliente</servlet-name>
        <url-pattern>/sr_cliente</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>sr_ventas</servlet-name>
        <url-pattern>/sr_ventas</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
